code, code-wide {
    background-color: #32353c;
    border-radius: 7px;
}

code-wide {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 20px;
    font-family: monospace;
}

code.inline {
    padding: 5px;
}

code.title {
    margin-right: 10px;
}

* > code-wide {
    position: relative;
}

.copy-code {
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 10px;
    top: 10px;
    background-color: inherit;

    &, & > * {
        display: inline;
        position: absolute;
    }

    &:hover {
        cursor: pointer;
    }

    div {
        width: 13px;
        height: 13px;
        border-radius: 3px;
        border: 2px solid #c4c4c4;
        background-color: inherit;
    }

    .back {
        z-index: 2;
        left: 10px;
        top: 10px;
    }

    .front {
        z-index: 3;
        left: 5px;
        top: 5px;
    }

    span {
        z-index: 4;
        top: -15px;
        visibility: hidden;
    }
    
    &:hover span {
        visibility: visible;
    }
}
