body {
    background-color: #191a1c;
    color: white;
}

.monospace {
    line-height: 100%;
    font-family: monospace;
}

.no-select {
    user-select: none;
}

#info {
    font-size: 20px;
    width: max-content;
    margin: 0 auto 40px auto;

    p {
        width: max-content;
        margin: 40px auto 0 auto;
    }

}

#doc {
    border: 1px solid gray;
    font-family: Arial, serif;
    padding: 0 60px;
    border-radius: 10px;
}

div.section {
    h1:first-child, h2:first-child {
        margin-right: 10px;
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
    }
}

.code {
    background-color: #32353c;
    border-radius: 7px;
}

.code.inline {
    padding: 5px;
}

.code.title {
    margin-right: 10px;
}

.code.wide {
    padding: 20px;
}

ul.large li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #bd752b;

    &:hover {
        text-decoration: underline;
    }
}

.title {
    margin-top: 40px;
    margin-bottom: 5px;
}
