body {
    background-color: #191a1c;
    color: white;
}


.no-select {
    user-select: none;
}

#info {
    font-size: 20px;
    width: max-content;
    margin: 0 auto 40px auto;

    p {
        width: max-content;
        margin: 40px auto 0 auto;
        line-height: 100%;
        font-family: monospace;
    }

}

#doc {
    border: 1px solid gray;
    font-family: Arial, serif;
    padding: 30px 60px 30px 60px;
    border-radius: 10px;

    div.section {
        margin-top: 50px;

        &:first-child {
            margin-top: 0;
        }

        h1:first-child, h2:first-child {
            margin-right: 10px;
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
        }
    }

    ul.large li {
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #bd752b;

        &:hover {
            text-decoration: underline;
        }
    }
}
